.codex-editor--narrow .ce-toolbar__actions {
  /* right: calc(100% + 50px); */
  right: calc(50px);
}

div.cdx-input.image-tool__caption {
  display: none;
}
.codex-editor .ce-toolbar__actions {
  /* right: calc(100% + 8px * 1); */
  right: calc(8px * 1);
}

.codex-editor {
  /* max-width: 800px; */
  /* width: 100%; */
}
/* 이건 에디터 전체 */
/* TODO: Media width query */
.codex-editor__redactor {
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 170px;
  width: 100%;

  /* min-width: 652px; */
}

/* 이거는 좌우 마진 포함 블럭 */
/* .ce-block {
  max-width: 700px;
} */

.ce-toolbar .ce-toolbar__content {
  max-width: 750px;
}

/* 블럭 안에 컨텐츠 */
.ce-block .ce-block__content {
  padding-left: 8px;
  padding-right: 8px;
  max-width: 750px;
  margin: 0 clamp(96px, 120px, auto);
}

/* disable block converting -> THIS IS MAKING UNEXCEPECTED BEHAVIORS */
div.ce-popover__items {
  div.ce-popover-item[data-item-name='convert-to'] {
    display: none;
  }
}
